<!-- <p>header works!</p> -->
<div class="d-flex justify-content-between head" id="menu-door">
    <i class="fa-solid fa-bars ml-3 mt-3"></i>
    <img class=" mt-2" src="assets/logo.png" alt="">
    <div>
        <i class="fa-regular fa-circle-user mr-3 mt-3" style="color: #000000; font-size: 25px;" [routerLink]="['/auth']"></i>
        <i class="fa-solid fa-cart-shopping mr-3 mt-3"></i>
    </div>
</div>
<div class="side-menu" id="side-menu">
    <div class="side-links">
        <a href="index.html"><i class="bi bi-houses"></i> Accueil</a>
        <a href="prod/prod.html"><i class="bi bi-gift"></i> Produit</a>
        <a href="page_categories_accessoires/categorie_accessoire.html"><i class="bi bi-tags-fill"></i> Catégories et Accessoires</a>
        <a href="about/about.html"><i class="bi bi-file-earmark-person"></i> A propos</a>
        <a href="page_blog/blog.html"><i class="bi bi-substack"></i> Blog</a>
        <a href=""><i class="bi bi-person-lines-fill"></i> Contact</a>
    </div>
</div>
