<!-- <p>footer works!</p> -->
<footer>
    <div class="footer-infos">
      <div class="footer-items">
        <div class="footer-item">
          <div class="footer-title">
            <span>CONTACT US</span>
          </div>
          <div class="contact-item">
            <span>Address:</span>
            <p>28 Green Tower, Street Name, New York City, USA</p>
          </div>
          <div class="contact-item">
            <span>Cell-Phone:</span>
            <p>012345 - 123456789</p>
          </div>
          <div class="contact-item">
            <span>Email:</span>
            <p>your-email@gmail.com</p>
          </div>
        </div>
        <div class="footer-item">
          <div class="footer-title">
            <span>ACCOUNTS</span>
          </div>
          <a href=""><i class="bi bi-record-circle"></i> My Account</a>
          <a href=""><i class="bi bi-record-circle"></i> My Website</a>
          <a href=""><i class="bi bi-record-circle"></i> My Cart</a>
          <a href=""><i class="bi bi-record-circle"></i> Sing in</a>
          <a href=""><i class="bi bi-record-circle"></i> Check Out</a>
        </div>
        <div class="footer-item">
          <div class="footer-title">
            <span>SHIPPING</span>
          </div>
          <a href=""><i class="bi bi-record-circle"></i> My Account</a>
          <a href=""><i class="bi bi-record-circle"></i> My Website</a>
          <a href=""><i class="bi bi-record-circle"></i> My Cart</a>
          <a href=""><i class="bi bi-record-circle"></i> Sing in</a>
          <a href=""><i class="bi bi-record-circle"></i> Check Out</a>
        </div>
        <div class="footer-item">
          <div class="footer-title">
            <span>EMAIL NEWSLETTER</span>
          </div>
          <div class="footer-newsletter">
            <input type="text" placeholder="Email Address" />

            <button>SUBSCRIBRE</button>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="copyright">
        <p>© CodeCarnival 2022. All Rights Reserved. MLC</p>
        <div>
          <img src="../images/payment/1.png" alt="" />
          <img src="../images/payment/2.png" alt="" />
          <img src="../images/payment/3.png" alt="" />
          <img src="../images/payment/4.png" alt="" />
        </div>
      </div>
    </div>
  </footer>